    <!-- ============================================================== -->
    <!-- Footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center">
      All Rights Reserved by Matrix-admin. Designed and Developed by
      <a href="https://wrappixel.com">WrapPixel</a>.
    </footer>
  </div> <!-- End main-wrapper -->

  <!-- JS Libraries -->
  <script src="/libs/jquery/dist/jquery.min.js"></script>
  <script src="/libs/popper.js/dist/umd/popper.min.js"></script>
  <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
  <script src="/extra-libs/sparkline/sparkline.js"></script>
  <script src="/js/waves.js"></script>
  <script src="/js/sidebarmenu.js"></script>
  <script src="/js/custom.min.js"></script>

  <!-- Page specific JS -->
  <script src="/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
  <script src="/js/pages/mask/mask.init.js"></script>
  <script src="/libs/select2/dist/js/select2.full.min.js"></script>
  <script src="/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>
  <script src="/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
  <script src="/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
  <script src="/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
  <script src="/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
  <script src="/libs/quill/dist/quill.min.js"></script>
  <script src="/libs/flot/excanvas.js"></script>
  <script src="/libs/flot/jquery.flot.js"></script>
  <script src="/libs/flot/jquery.flot.pie.js"></script>
  <script src="/libs/flot/jquery.flot.time.js"></script>
  <script src="/libs/flot/jquery.flot.stack.js"></script>
  <script src="/libs/flot/jquery.flot.crosshair.js"></script>
  <script src="/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
  <script src="/js/pages/chart/chart-page-init.js"></script>
  <script src="/extra-libs/multicheck/datatable-checkbox-init.js"></script>
  <script src="/extra-libs/multicheck/jquery.multicheck.js"></script>
  <script src="/extra-libs/DataTables/datatables.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
