<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibraryMS Sidebar</title>
    <link rel="stylesheet" href="../assets/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>

<body>
    <div class="sidebar">
        <div class="sidebar-header me-5">
            <h2>LibraryMS</h2>
        </div>

        <ul class="sidebar-menu">
            <li><a href="/todo"><i class="fa-solid fa-plus"></i>Add Book</a></li>
            <li><a href="/showtask"><i class="fa-solid fa-book-atlas"></i>Book Catalog</a></li>
        </ul>
    </div>
</body>

</html>